@{
    ViewBag.Title = "About";
}



<div class="container mt-5 about">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/images/me.jpg" class="img-thumbnail portrait" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1 class="lg-heading">Martin <span class="text-secondary">Fernandez</span></h1>
            <h2 class="sm-heading">Web Developer, Programmer, Designer, & Entrepreneur</h2>
            <div class="icons" id="icons">
                <a href="#!">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="#!">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>TOOLS EXPERTNESS</h2>
                <hr />
            </div>
        </div>
        <div class="row mt-5 bg-light">
            <div class="col-md-6">
                <h2>Html</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                <h2>Css</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                <h2>JavaScript</h2>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>