@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ux-Design Plus Style<br />
        Orlando, Fl 32819<br />
        <abbr title="Phone">P:</abbr>
        863.969.8248
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:UxDeveloper82@aol.com">Uxdeveloper82@aol.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:UxDeveloper82@aol.com">UxDeveloper82@aol.com</a>
    </address>
</div>