<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 logo text-left">
                <a href="#"><img class="img" src="~/Content/images/Startup2-logo_03.png" alt="Startup2 LOGO"></a>
            </div>
            <div class="col-sm-9 col-xs-12 login_button text-right">
                <a href="#">
                    <div class="top-banner-icon"><i class="fa fa-phone"></i></div>
                    For Details Call : 863-969-8248
                </a>
                <a href="#">
                    <div class="top-banner-icon"> <i class="fa fa-headphones" aria-hidden="true"></i> </div>
                    24/7 Fully Customer Services
                </a>
            </div>
        </div>
    </div>
</div>
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i>New Friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://www.facebook.com/UxDesign-690772767726869/"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <p>
            &copy;2016 UxDesign.
            <br>All Rights Reserved.
        </p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
