@model IEnumerable<UxDesignPlusStyle.Models.MyPortfolio>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="main-gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MY LATEST WORKS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/ecommerce.png" alt="Ecommerce-website">
                    <div class="overlay">
                        <div class="text">E-commerce</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Ecommerce</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/myEcommerce" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/websites.png" alt="Repair-website">
                    <div class="overlay">
                        <div class="text">Fix-it</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Repair</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/fix-top/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/photography.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Photo-demo</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Photos</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/photography-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/gitfit.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Get-Fit</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Gym-template</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/numerouno-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/slider.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Slider</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Slider-template</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/split-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/grid.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Grid</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Grid-template</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/Grid-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/ui.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Novi</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Novi</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/novi-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/mobil.jpg" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Mobil</div>
                    </div>
                </div>
                <div class="content">
                    <h3>MobilStyle</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/mobileStyle-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/data.png" alt="Photo-website">
                    <div class="overlay">
                        <div class="text">Acme-Mobil</div>
                    </div>
                </div>
                <div class="content">
                    <h3>Acme</h3>
                    <p>Html5-template</p>
                    <a href="https://uxdeveloper82.github.io/Acme-w3-index.html/" class="btn btn-primary btn-outline">Details</a>
                </div>
            </div>

        </div>
    </div>
</section>


