@model IEnumerable<UxDesignPlusStyle.Models.MyPortfolio>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="main-gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MY LATEST WORKS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            @foreach (var myport in Model)
            {
            <div class="col-md-4 outside-box">
                <div class="inside-box">
                    <img class="img-thumbnail" src="~/Content/images/@myport.imageUrl" alt="ultimate-website">
                    <div class="overlay">
                        <div class="text">@myport.Type</div>
                    </div>
                </div>
                <div class="content">
                    <h3>@myport.Title</h3>
                    <p>@myport.Type</p>
                    @Html.ActionLink(myport.Title, "Details", "MyPortfolio", new { id = myport.Id}, new { @class="btn btn-primary btn-outline"})
                </div>
            </div>
            }
        </div>
    </div>
</section>


